.Button {
    padding: 10px 30px 10px 15px;
    border-radius: var(--border-radius-sm);
	cursor: pointer;
    transition: background 0.5s ease;
}

.shadow {
    box-shadow: var(--shadow-harder);
}

.clear {
	border: none;
	background: none;
}

.so_clear {
    border: none;
    background: none;
    padding: 0;
}

.outline {
    padding: 10px 15px;
    border: 2px solid black;
	background: none;
}

.background {
	border: none;
}