.MainPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.converter_wrapper {
    padding: 20px;
    border-radius: var(--border-radius);
    width: 400px;
    height: 200px;
    box-shadow: var(--shadow-default);
}