.Input {
    input {
        padding: 10px 17px;
        border: 2px solid var(--color-secondary);
        border-radius: var(--border-radius-xm);
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: var(--color-blue);
        }
    }
}

.header {
    margin-bottom: 7px;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-l);
    color: var(--color-blue);
}