.Select {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.shadow {
    box-shadow: var(--shadow-harder);
}

.selected {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.border_bottom {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.options {
    width: 100%;
    display: none;
    position: absolute;

    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;

    max-height: 500px;
    z-index: 100;

    li {
        cursor: pointer;
        padding: 10px;

        &:hover,
        &:focus {
            background: rgba($color: red, $alpha: 0.7);
            border-radius: 0 0 5px 5px;
        }
    }
}

.visible {
    display: block;
}

.transformed {
    transform: translate(0, -50%) rotate(-180deg)!important;
}

.indicator {
    height: fit-content;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.4s ease;
}